@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* navbar height definition ! must match height:nav in tailwind.config.js */
  --navbar-height: 42px; 

  /* height definition of the screen minus the nav bar height (useful for heroSections, etc. */
  /* this is just a css variable used in a calculation of a custom tailwind class, see .section-min-height */
  --min-height-w-nav: calc(
    100vh - var(--navbar-height)
  ); 
}

@layer base {
  /* default generic non 3D button style applied across entire project */
  button { 
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded text-base;
  }
}

@layer utilities {
  /* custom class for getting the screen-NavBarHeight (useful for heroSections, etc. */
  /* can be applied with widescreen: & tallscreen: prefix to allow section to resize in tablet aspect ratios */
  .section-min-height {
    min-height: var(--min-height-w-nav);
  }
}